body {
  text-align: center;
  display: flex; /* flexbox to make footer appear at bottom of page */
  flex-direction: column;
  min-height: 100vh; /* Set the minimum height of the body to 100% of the viewport height */
  margin: 0;
}

.page-container{
  text-align: center;
  margin: 15px;
  flex: 1; /* Allow the wrapper to grow and take up remaining space */
}

.alert {
  position: absolute;
  top: 125px;
  left: 50%;
  width: 90%;
  transform: translateX(-50%); /* position in the middle of the page */
  display: none;
}

.player-move-options {
  display: flex; /* flexbox to position items horizontally */
  margin: 35px 30px 30px 30px;
  justify-content: center; /* Center elements horizontally */
  align-items: center; /* Center elements vertically */
  transition: color 0.2s;
}

/* Styling for player move icons */
.player-move {
  font-size: 72px; 
  cursor: pointer;
  margin: 50px;
}

.player-move:hover {
  color: blue;
}

#rock {
  justify-self: flex-end; /* position to right of div */
}

#paper{
  justify-self: center;
}

#scissors {
  justify-self: flex-start; /* position to left of div */
}

.computer-move-container {
  text-align: center; /* Center content */
}

.computer-move-title {
  margin: 30px; 
}

.computer-move {
  font-size: 72px; 
  margin: 30px; 
  justify-content: center; /* Center content */
  
}

.counts-div{
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center elements horizontally */
  align-items: center; /* Center elements vertically */
}

.count-display{
  margin: 30px;
  text-align: center; /* Center content */
  width: 200px;
}

#reset-button {
  margin: 20px;
}

/* Footer Styling */
.footer {
  bottom: 0;
  width: 100%;
  height: 25px;
  background-color: white;
}

.footer-top {
  text-align: center;
  font-size: 12px;
  padding: 10px;
  font-family: Helvetica, Arial, sans-serif;
}  

/* Mobile view formatting and styling */
@media only screen and (max-width: 767px) {
  .player-move-options {
    display: flex; /* flexbox to position items horizontally */
    margin: 35px 10px 10px 10px; 
    justify-content: center; /* Center elements horizontally */
    align-items: center; /* Center elements vertically */
    transition: color 0.2s;
  }

  /* Styling for player move icons */
  .player-move {
    font-size: 72px; 
    cursor: pointer;
    margin: 25px;
  }

  .alert {
    position: absolute;
    top: 150px;
    left: 50%;
    width: 90%;
    transform: translateX(-50%);
    display: none;
  }

  .computer-move-title {
    margin: 10px; 
  }

  .count-display{
    margin: 10px;
  }
  
}